%form{:action => '/weather', :method => 'post'}
	What's the weather near 
	%input{:type => 'text', :id => 'zipcode_input', :name => 'zipcode', :value => 'zipcode', :onclick => 'clicked(this)'}/
	?
	%input{:type => 'submit', :style => 'display: none'}/
